<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | DataTables</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="<%= base_url %>plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="<%= base_url %>plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="<%= base_url %>plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="<%= base_url %>plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= base_url %>dist/css/adminlte.min.css">
  <style>
  div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
  </style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
 
  <!-- /.navbar -->



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          
          </div>
          <div class="col-sm-6">
            
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Évaluations et commentaires</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div  class="dataTables_filter">
                  <input type="text" id="client_name" class="form-control " placeholder="Entrez le nom de l'utilisateur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  <input type="text" id="lawyer_name"class="form-control " placeholder="Entrez le nom du fournisseur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  
                  <input type="text" id="start_date"  onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control " placeholder="date d'entrée en vigueur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  <input type="text" id="end_date" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control " placeholder="date de fin" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  <input type="button" id="search" class="btn btn-primary"  value="filtre" onclick="handlefilter()" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                </div>
             
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                      <th>ID</th>
                    <!-- <th>ID de la demande</th> -->
                    <th>utilisateur</th>
                    <th>Prestataire</th>
                    <th>Evaluation</th>
                    <th>Date et heure</th>
                   <th>commentairs  </th>
                  </tr>
                  </thead>
                  <tbody>
                 <% comments.forEach((element,index) => { %>
                  <tr>
                      <td><%= index+1 %></td>
                    <!-- <td><%= element.demand_id %> </td> -->
                    <td><%= element.client_name %> </td>
                    <td><%= element.provider_name %></td>
                 
                    <td>
               
                 <% if(!element.rating) {%>
                  <img src="/static/public/star1.png" style="width:15px; height: 15px;"/>
                  <% } else { %>
                  <% for(var i=element.rating;i>0;i--){ %>
                    <img src="/static/public/star.png" style="width:15px; height: 15px;">
                  <% } %>
                  <% for(let j=i;j>0;j--){ %>
                    <img src="/static/public/star1.png" style="width:15px; height: 15px;"/>
                  <% } %>
                 <% } %>
                   
                    </td>
                    <td><%= element.date && moment(new Date(element.date).toISOString().split("T")[0]).format("DD.MM.YYYY")?moment(new Date(element.date).toISOString().split("T")[0]).format("DD.MM.YYYY"):""%></td>
                   
                    <td>
                        <%= element.review %>
                     </td>
                  </tr>
                  <% }); %>
                  </tbody>
                
                
                
                 
                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
 
<!-- ./wrapper -->


<script>
 
 function handlefilter(){
    var client_name = $("#client_name").val();
    var provider_name = $("#lawyer_name").val();
    var start_date = $("#start_date").val();
    var end_date = $("#end_date").val();
   
    var url='/admin-panel/comments?client_name='+client_name+'&provider_name='+provider_name+'&start_date='+start_date+'&end_date='+end_date;
    window.location.href = url;
  }
</script>

