<hr>
<div style="text-align:center;padding-top:10px;padding-bottom:10px;">
<p>Coop Divercite, c'est aussi une communauté sur les réseaux. Suivez-nous pour bénéficier des bons plans et des jeux-concours!</p>


<a href="#"><img src="/static/public/facebook.png"></a><a href="#"><img src="/static/public/instagram.png"></a>
</div>

<hr>
<div style="text-align:center;padding-top:1px;">
<p>Envoyé par Coop Divercite - Chemin du Pre-Fleuri 5, 1228 Plan-les-Ouates Cliquez ici pour vous désabonner</p>
</div>
</div>
</body>
</html>